<head>
    <title>Hacker News</title>
</head>

<body>
<center>
    <table bgcolor="#f6f6ef" border="0" cellpadding="0" cellspacing="0" width="85%">
        <tbody>
        <tr>
            <td bgcolor="ff6600">
                <table style="padding:2px" border="0" cellpadding="0" cellspacing="0" width="100%" id="hnmain">
                    <tbody>
                    <tr>
                        <td style="width:18px;padding-right:4px">
                            <a style="text-decoration:none;" href="/"><img src="https://news.ycombinator.com/y18.gif"></a>
                        </td>
                        <td class="header">
                            <font size="4"> <b><a style="text-decoration:none;" href="/"><font color="black">Hacker News</a></b></font>
                            <font size="3"> 
                                <a style="text-decoration:none;" href="/posts/index_new"><font color="black">new</font></a><font color="black"> | 
                                <% if current_user %>
                                    <a style="text-decoration:none;" href="/users/<%=current_user.id %>/comments"><font color="black">threads</a> |
                                <% else %>
                                    <a style="text-decoration:none;" href="/users/new"><font color="black">threads</a> |
                                <% end %>
                                <a style="text-decoration:none;" href="/posts/index_ask"><font color="black">ask</a> | <a style="text-decoration:none;" href="/posts/new"><font color="black">submit</a>
                            </font>
                        </td>
                        <td>
                            <font size="3">
                                <div align="right">
                                    <% if current_user %>
                                    Signed in as <strong>
                                    <%= link_to current_user.name, "/users/#{current_user.id}", id: "my_profile" %>
                                </strong> (<%= current_user.karma %>) |
                                    <%= link_to "Sign out", signout_path, id: "sign_out" %>
                                    <% else %>
                                    <%= link_to "Log in", "/auth/google_oauth2", id: "sign_in", method: :post %> 
                                    <% end %>
                                </div>
                            </font>
                        </td>
                        <td class="spacer" style="width:10px"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        
        <tr>
          <td>
            <table>
              <tbody>
                <% i=1 %>
                <% @comments.each do |comment| %>
                <%username = User.find(comment.user_id).name%>
                <%postTitle = Post.find(comment.post_id).title%>
                <%if comment.parent_id == -1%>
                  <table>
                    <tbody>
                      <tr>
                        <td></td>
                        <td valign="top">
                          <% if (current_user != nil) && (current_user.liked? comment) %> &nbsp;&nbsp;
                          <% else %> <% if (current_user != nil) %> <%= link_to '▲', like_comment_path(comment.id), method: :get%>
                            <% else %><%= link_to '▲', "/users/new", method: :get%><% end %><% end %>
                        </td>
                        <td>
                          <div style="margin-top:2px; margin-bottom:-10px;">
                            <span class="comhead">
                            <a href="" class="hnuser"><%=username%></a>
                            <% time = (Time.now.to_i - comment.created_at.to_i) %>
                                 
                              <% if time < 3600 %>
                                  <span class="age"><%= (time/60).round %> minutes ago</a></span>  
                              <% end %>
                          
                              <% if time >= 3600 && time < 3600*24 %>
                                   <span class="age"><%= (time/3600).round %> hours ago</a></span>   
                              <% end %>
                              
                              <% if time >= 3600*24 %>
                                  <span class="age"><%= (time/(3600*24)).round %> days ago</a></span>
                              <% end %>
                           
                            <span id="unv_26742960"></span><span class="par">
                               | 
                            <a href="">parent</a></span> 
                            <a class="togg" n="1" href="" onclick="">[–]</a>          
                            <% if (current_user != nil) && (current_user.liked? comment) %>
                              <%= link_to '| unvote', unlike_comment_path(comment.id), method: :get%>
                            <%end%>
                            <span class="storyon"> | on: <a href=""><%=postTitle%></a></span>
                            </span>
                          </div>
                        </td>
                      </tr>
                      
                      <tr>
                        <td></td>
                        <td>
                          <div class="comment">
                            <span class="commtext c00"><%=comment.body%></span>
                            <div class="reply">        
                              <p>
                                <font size="1">
                                  <u><a href="/comments/<%= comment.post_id%>/add_reply">reply</a></u>
                                </font>
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      
                      </tbody>
                      </table>
                      
                      <%replies = Comment.where(parent_id: comment.id)%>
                      <% it=1 %>
                      <% replies.each do |reply| %>
                          <%username = User.find(reply.user_id).name%>
                          <table>
                            <tbody>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                  <% if (current_user != nil) && (current_user.liked? reply) %>
                                    &nbsp;&nbsp;
                                  <% else %>
                                    <% if (current_user != nil) %>
                                      <%= link_to '▲', like_comment_path(reply.id), method: :get%>
                                    <% else %>
                                      <%= link_to '▲', "/users/new", method: :get%>
                                    <% end %>
                                  <% end %>
                                </td>
                                <td>
                                  <div style="margin-top:2px; margin-bottom:-10px;">
                                    <span class="comhead">
                                    <a href="" class="hnuser"><%=username%></a>
                                    <% time = (Time.now.to_i - comment.created_at.to_i) %>
                                         
                                      <% if time < 3600 %>
                                          <span class="age"><%= (time/60).round %> minutes ago</a></span>  
                                      <% end %>
                                  
                                      <% if time >= 3600 && time < 3600*24 %>
                                           <span class="age"><%= (time/3600).round %> hours ago</a></span>   
                                      <% end %>
                                      
                                      <% if time >= 3600*24 %>
                                          <span class="age"><%= (time/(3600*24)).round %> days ago</a></span>
                                      <% end %>
                              
                                    <a class="togg" n="1" href="" onclick="">[–]</a>          
                                    
                                    <% if (current_user != nil) && (current_user.liked? reply) %>
                                      <%= link_to '| unvote', unlike_comment_path(reply.id), method: :get%>
                                    <%end%>
                                    </span>
                                  </div>
                                </td>
                              </tr>
                              
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                  <div class="comment">
                                    <span class="commtext c00"><%=reply.body%></span>
                                    <div class="reply">        
                                      <p>
                                        <font size="1">
                                          <u><a href="/comments/<%= reply.parent_id%>/add_reply">reply</a></u>
                                        </font>
                                      </p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        <% it += 1 %>
                        <% end %>
                    <%end%>
                    <% i += 1 %>
                    <% end %>
                  </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</center>
</body>
