<head>
    <title>Hacker News</title>
</head>

<body>
<center>
    <table bgcolor="#f6f6ef" border="0" cellpadding="0" cellspacing="0" width="85%">
        <tbody>
        <tr>
            <td bgcolor="ff6600">
                <table style="padding:2px" border="0" cellpadding="0" cellspacing="0" width="100%" id="hnmain">
                    <tbody>
                    <tr>
                        <td style="width:18px;padding-right:4px">
                            <a style="text-decoration:none;" href="/"><img src="https://news.ycombinator.com/y18.gif"></a>
                        </td>
                        <td class="header">
                            <font size="4"> <b><a style="text-decoration:none;" href="/"><font color="black">Hacker News</a></b></font>
                            <font size="3"> 
                                <a style="text-decoration:none;" href="/posts/index_new"><font color="black">new</font></a><font color="black"> | 
                                <% if current_user %>
                                    <a style="text-decoration:none;" href="/users/<%=current_user.id %>/comments"><font color="black">threads</a> |
                                <% else %>
                                    <a style="text-decoration:none;" href="/users/new"><font color="black">threads</a> |
                                <% end %>
                                <a style="text-decoration:none;" href="/posts/index_ask"><font color="black">ask</a> | <a style="text-decoration:none;" href="/posts/new"><font color="black">submit</a>
                            </font>
                        </td>
                        <td>
                            <font size="3">
                                <div align="right">
                                    <% if current_user %>
                                    Signed in as <strong>
                                    <%= link_to current_user.name, "/users/#{current_user.id}", id: "my_profile" %>
                                </strong> (<%= current_user.karma %>) |
                                    <%= link_to "Sign out", "/posts", id: "sign_out" %>
                                    <% else %>
                                    <%= link_to "Log in", "/users/new", id: "sign_in" %> 
                                    <% end %>
                                </div>
                            </font>
                        </td>
                        <td class="spacer" style="width:10px"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="height:10px"></tr>
        <tr>
          <td>
                <% i=1 %>
                <% @posts.each do |post| %>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <font color="grey" size="3"><%= i %>.</font>
                        </td>
                        <td>
                            <% if (current_user != nil) && (current_user.liked? post) %>&nbsp;&nbsp;
                            <% else %><%= link_to '▲', like_post_path(post.id), method: :get%><% end %>
                        </td>
                        <td>
                            <font color="black" size="3"><a style="text-decoration:none;" href=<%= "https://#{post.url}" %>><%= post.title
                                %></a></font> </font> <font color="grey" size="2">(<%= post.url.split("/")[0] %>)</font>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <font color="grey" size="2">
                                <%= post.cached_votes_total %> points by <a style="text-decoration:none;" href="/users/<%= post.user_id %>"><%= post.user.name %></a>
                                
                                
                                    <% time = (Time.now.to_i - post.created_at.to_i) %>
                             
                                    <% if time < 3600 %>
                                        <a style="text-decoration:none;" ><%= (time/60).round %> minutes ago</a> | 
                                    <% end %>
                                
                                    <% if time >= 3600 && time < 3600*24 %>
                                        <a style="text-decoration:none;" ><%= (time/3600).round %> hours ago</a> | 
                                    <% end %>
                                    
                                    <% if time >= 3600*24 %>
                                        <a style="text-decoration:none;" ><%= (time/(3600*24)).round %> days ago</a> | 
                                    <% end %>
                                 
                                <!-- poner aqui copmentarios-->
                                    <% if (current_user != nil) && (current_user.liked? post) %>
                                        <%= link_to 'unvote |', unlike_post_path(post.id), method: :get%>
                                    <%end%>
                                    
                                    <a href="/posts/<%= post.id %>"><%= Comment.where(post_id: post.id).size%> comments</a>
                            </font>
                        </td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <% i += 1 %>
                    <% end %>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</center>
</body>
