<head>
    <title>Hacker News</title>
</head>

<body>
<center>
    <table bgcolor="#f6f6ef" border="0" cellpadding="0" cellspacing="0" width="85%">
        <tbody>
        <tr>
            <td bgcolor="ff6600">
                <table style="padding:2px" border="0" cellpadding="0" cellspacing="0" width="100%" id="hnmain">
                    <tbody>
                    <tr>
                        <td style="width:18px;padding-right:4px">
                            <a style="text-decoration:none;" href="/"><img src="https://news.ycombinator.com/y18.gif"></a>
                        </td>
                        <td class="header">
                            <font size="4"> <b><a style="text-decoration:none;" href="/"><font color="black">Hacker News</a></b></font>
                            <font size="3"> 
                                <a style="text-decoration:none;" href="/posts/index_new"><font color="black">new</font></a><font color="black"> | 
                                <% if current_user %>
                                    <a style="text-decoration:none;" href="/users/<%=current_user.id %>/comments"><font color="black">threads</a> |
                                <% else %>
                                    <a style="text-decoration:none;" href="/users/new"><font color="black">threads</a> |
                                <% end %>
                                <a style="text-decoration:none;" href="/posts/index_ask"><font color="black">ask</a> | <a style="text-decoration:none;" href="/posts/new"><font color="black">submit</a>
                            </font>
                        </td>
                        <td>
                            <font size="3">
                                <div align="right">
                                    <% if current_user %>
                                    Signed in as <strong>
                                    <%= link_to current_user.name, "/users/#{current_user.id}", id: "my_profile" %>
                                </strong> (<%= current_user.karma %>) |
                                    <%= link_to "Sign out", signout_path, id: "sign_out" %>
                                    <% else %>
                                    <%= link_to "Log in", "/auth/google_oauth2", id: "sign_in", method: :post %> 
                                    <% end %>
                                </div>
                            </font>
                        </td>
                        <td class="spacer" style="width:10px"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="height:10px"></tr>
        <tr>
          <td>
            <form method="post" action="/posts">
              <table>
                <tbody>
                  <tr>
                    <td>title</td>
                    <td>
                      <input type="text" name="title" size="50">
                      <span style="margin-left:10px"></span>
                    </td>
                  </tr>
                  <tr>
                    <td>url</td>
                    <td>
                      <input type="text" name="url" size="50">
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <b>or</b>
                    </td>
                  </tr>
                  <tr>
                    <td>text</td>
                    <td>
                      <textarea name="text" rows="4" cols="49"></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <input type="submit" value="submit">
                    </td>
                  </tr>
                  <tr style="height:20px"></tr>
                  <tr>
                    <td></td>
                    <td>
                      	Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </td>  
        </tr>
        </tbody>
    </table>
</center>
</body>